@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Plus+Jakarta+Sans:ital,wght@1,300&family=Prompt:ital,wght@0,300;1,100;1,400;1,600;1,900&display=swap');

*{
  font-family: 'Lobster', Lobster;
}
img{
  border-radius: 10px;
}
h1{
  font-size:60px;
}